.img-responsive.product-logo{
    max-height: 100px;
}

.img-responsive.wide-logo{
    max-width: 150px;
    max-height: 100px;
}

.centered-logos{
    padding-top: 24px;
    padding-left : 20px;
    padding-right : 20px;
}

.centered-logos img{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 24px;
}

img.extra-pad{
    margin-top : 16px;
    margin-bottom: 16px;
}